
<%- include("partials/header"); -%>
    <div class="container">
        <h3>Compose</h3>
        <form class="" action="/compose" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle">
            <label>Post</label>
            <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
            <label>Image</label> 
            <input class="form-control" type="file" name="image">
        </div>
        <button class="btn btn-primary" type="submit" name="button" style="margin-top: 10px;">Publish</button>
        </form>
    </div>

<%- include("partials/footer"); -%>
